<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**



*   List data science languages
*   List data science libraries
*   List Data Science tools
*   Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   Julia

Some of the commonly used libraries used by Data Scientists include:

1.   Numpy
2.   Pandas
3.   Matplotlib


<table>
  <tr>
    <td></td>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <th>1</th>
    <td>Jupyter Notebooks</td>

  </tr>
  <tr>
    <th>2</th>
    <td>Google Colab</td>
  </tr>
    <tr>
    <th>3</th>
    <td>Rstudio</td>
  </tr>
</table

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

<h2>Author</h2>
Felix Zamuriano Carbajal